<div class="xbaju"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/baju.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> baju polos berwarna putih </p>
            <p style="font-size: min(2vw, 30px);"> ready all size (xs,s,m,l,xl,xxl) </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="xairpods"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/airpods.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> earphone wireless merk apple </p>
            <p style="font-size: min(2vw, 30px);"> hanya tersedia 1 warna, yaitu putih </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="beat"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/beat.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> motor honda beat </p>
            <p style="font-size: min(2vw, 30px);"> ready warna silver </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="beras"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/beras.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> beras pulen </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="jeans"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/jeans.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> jeansrobek-robek  </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hitam </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="jual"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/jual.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> jual like dan followers instagram </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="keti"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/keti.png" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> tiket menonton pertunjukan sang kucing imut berwarna orens yang dikenal sebagai marleykatz </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="kotak"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/kotak.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> tupperware beraneka warna </p>
            <p style="font-size: min(2vw, 30px);"> ready warna biru, ungu, orens dan kuning </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="kue" > 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/kue.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> kue tart rasa vanilla </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="maichi"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/maichi.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> kripik super pedas merk maichi </p>
            <p style="font-size: min(2vw, 30px);"> ready level 20 dan 25 </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>    

<div class="momogi" > 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/momogi.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> snack beraneka rasa </p>
            <p style="font-size: min(2vw, 30px);"> ready rasa cokelat, jagung bakar dan keju </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="masker" > 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/masker.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> masker scuba </p>
            <p style="font-size: min(2vw, 30px);"> ready hanya warna navy </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="pensil"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/pensil.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> pensil cetek </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hijau, pink dan biru </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="samsung"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/samsung.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> samsung galaxy A51 series </p>
            <p style="font-size: min(2vw, 30px);"> ready warna pink </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="sariroti" > 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/sariroti.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> sandwich sariroti </p>
            <p style="font-size: min(2vw, 30px);"> ready rasa cokelat </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="spidol" > 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/spidol.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> spidol snowman </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hitam </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="sunsilk"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/sunsilk.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> shampoo sunsilk </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="toys"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="../public/img/toys.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> mainan mobil-mobilan </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="teh"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/S/0/S000004645-4.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Teh kotak per dus </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="parfum"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://media-asia-cdn.oriflame.com/-/media/images/externalImage.ashx?externalMediaId=product-management-media%2F33957%2F33957.png%3Fversion%3D1594224160&q=70" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Parfum Eclat termurah </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="bunga"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://www.garudacitizen.com/wp-content/uploads/2015/05/Bunga-Rafflesia-Bengkulu.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Tiket untuk menonton Bunga Terlarang </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="royco"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2020/5/4/626344/626344_6e631631-9a83-486f-83f4-ca9d7d7b41d2_1024_1024.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Micin Royco rasa Jamur, Dijamin enak!!! </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="chitato"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://cocoonline.co.id/wp-content/uploads/2019/09/products-_19jun17d_A10040001791_0.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Life is Never Flat!!! </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="jolly"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://objects.blains.com/products/12/600/1253898.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Popcorn Jollytime rasa MallowMagic </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="cookies"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2019/2/22/32659899/32659899_2071095c-8166-4346-bbb4-5c0f718d8fcf_473_386.png" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Goodtime Cookies Best Seller!! </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="nescafe"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/k/z/kzS000000755-8.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Kopi Nescafe </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="tas"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://i.pinimg.com/originals/3b/6f/6d/3b6f6d69ef70c7f14e3cf2474f28855f.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Tas lucu berbentuk Kacang </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="potabi"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://assets.klikindomaret.com/share/20080040/20080040_1.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Potabi </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="japota"> 
    <div class="modal-content1">
        <a href="../users/main" class="close">x</a>
        <img src="https://github.com/Andri-F/perkembangan/blob/master/japoota.jpg?raw=true" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Japota </p>
            <a href="../users/signin" class="submit">Detail</a>
        </form>
    </div>
</div>
