<div class="about">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">About BoloBolo</h2>
        <br>
        <p style="font-size: 150%; text-align: center;">
            BoloBolo merupakan website E-Commerce yang diciptakan dengan tujuan untuk mendapatkan nilai dalam mata pelajaran perkuliahan Web Programming kelas A.
        </p>
    </div>
</div>
<div class="app">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Application BoloBolo</h2>
        <br>
        <p style="font-size: 150%; text-align: center;">
            Maaf, kami belum memiliki aplikasi Bolo-bolo, mohon dimaklumi.
        </p>
    </div>
</div>
<div class="bbc">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">BoloBolo Care</h2>
        <p style="font-size: 2vw; font-size: min(2vw,40px); text-align: justify; text-indent: 3em;">
            Disini tempat anda mengeluh tentang permasalahan yang anda dapatkan dari web kami (masih dalam pengerjaan).
        </p>
    </div>
</div>
<div class="bbp">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">BoloBolo Partners</h2>
        <p style="font-size: 2vw; font-size: min(2vw,40px); text-align: justify; text-indent: 3em;">
            BoloBolo Masih belum memiliki Partners.. 
        </p>
    </div>
</div>
<div class="deal">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Deals</h2>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Tiket Nonton Bunga terlarang</h5>
                            <h4 class="text-success, harga">IDR 5,000,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://www.garudacitizen.com/wp-content/uploads/2015/05/Bunga-Rafflesia-Bengkulu.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Royco Rasa Jamur BEST SELLER</h5>
                            <h4 class="text-success, harga">IDR 6,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2020/5/4/626344/626344_6e631631-9a83-486f-83f4-ca9d7d7b41d2_1024_1024.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Chitato</h5>
                            <h4 class="text-success, harga">IDR 16,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://cocoonline.co.id/wp-content/uploads/2019/09/products-_19jun17d_A10040001791_0.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Jolly Time</h5>
                            <h4 class="text-success, harga">IDR 50,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://objects.blains.com/products/12/600/1253898.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Good Time Cookies</h5>
                            <h4 class="text-success, harga">IDR 10,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2019/2/22/32659899/32659899_2071095c-8166-4346-bbb4-5c0f718d8fcf_473_386.png" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Nescafe Original</h5>
                            <h4 class="text-success, harga">IDR 20,999</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/k/z/kzS000000755-8.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Tas Tenteng Bulat</h5>
                            <h4 class="text-success, harga">IDR 555,555</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://i.pinimg.com/originals/3b/6f/6d/3b6f6d69ef70c7f14e3cf2474f28855f.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
<div class="dictionary">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Dictionary BoloBolo</h2>
        <br>
        <p style="font-size: 150%; text-align: center;">
            Punya istilah keuangan yang bikin bingung?
            <br>
            Yuk, jangan lihat dari link ini karena link ini masih Under Construction!
        </p>
    </div>
</div>
<div class="discc">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Discount</h2>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Teh Kotak</h5>
                            <h4 class="text-success, harga" style="text-decoration-line: line-through">IDR 85,000</h4>
                            <h4 class="text-success, harga">IDR 72,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/S/0/S000004645-4.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="items , list-unstyled">
            <div class="gambar1">
                <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Eclat Mon Perfume</h5>
                            <h4 class="text-success, harga" style="text-decoration-line: line-through">IDR 3,000,000</h4>
                            <h4 class="text-success, harga">IDR 1,000,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://media-asia-cdn.oriflame.com/-/media/images/externalImage.ashx?externalMediaId=product-management-media%2F33957%2F33957.png%3Fversion%3D1594224160&q=70" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
<div class="edu">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Education Seller</h2>
        <p style="font-size: 2vw; font-size: min(2vw,40px); text-align: justify; text-indent: 3em;">
            Education Seller masih dalam pembuatan.
        </p>
    </div>
</div>
<div class="ofcbolo">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Official Store</h2>
        <br>
        <p style="font-size: 150%; text-align: center;">
            MOHON MAAF
            <br>
            Maaf, kami belum memiliki official store, mohon dimaklumi.
        </p>
    </div>
</div>
<div class="ofcbolol">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Official Store Lists</h2>
        <br>
        <p style="font-size: 150%; text-align: center;">
            MOHON MAAF
            <br>
            Maaf, kami belum memiliki official store list untuk websitenya, mohon dimaklumi.
        </p>

    </div>
</div>
<div class="pp">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Privacy Policy</h2>
        <p style="font-size: 2vw; font-size: min(2vw,40px); text-align: justify; text-indent: 3em;">
            Kebijakan Privasi masih dalam pembuatan.
        </p>
    </div>
</div>
<div class="tnc">
    <div class="container">
        <h2 class="mt-3, items, list-unstyled">Terms and Condition</h2>
        <p style="font-size: 2vw; font-size: min(2vw,40px); text-align: justify; text-indent: 3em;">
            Syarat dan Ketentuan masih dalam pembuatan.
        </p>
    </div>
</div>