<div class="row mb-4">
        
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="promomogi">
        <div class="gambar" style="width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Momogi</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 20,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/momogi.jpg?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="prosunsilk">
        <div class="gambar" style="width: 360px;">
            <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Sunsilk</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 25,999</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/sunsilk.jpg?raw=true" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="propensilmurah">
        <div class="gambar" style="width: 360px;">
            <div class="col-sm mx-0.9 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Pensil Murah</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 1,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/pensil.jpg?raw=true" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
</div>

<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="prosamsung">
        <div class="gambar" style="width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Samsung</h5>
                        <h4 class="text-success, harga" style="font-size: 17px;">IDR 2,500,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/samsung.jpg?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proroti">
        <div class="gambar" style="width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Sari Roti</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 13,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/sariroti.jpg?raw=true" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="promaechee">
            <div class="gambar" style="width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Maechee</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 6,999</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/maichi.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</div>

<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="promasker">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Masker Hitam</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 3,999</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/masker.jpg?raw=true" method="GET" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="projeans">
            <div class="gambar" style="width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Jeans sobek</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 88,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/jeans.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proig">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Like IG</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 3,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/jual.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</div>


<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="prokotak">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Kotak Bekal</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 10,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/kotak.jpg?raw=true" method="GET" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="prospidol">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Spidol Snowman</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 8,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/spidol.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proberas">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Beras</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 19,999</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/beras.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</div>


<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proairpods">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Airpods</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 750,999</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/airpods.jpg?raw=true" method="GET" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="propotabi">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Potabi</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 8,500</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://assets.klikindomaret.com/share/20080040/20080040_1.jpg" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="projapota">
            <div class="gambar" style=" width: 360px;">
                <div class="col-sm mx-0 px-5 py-3 border rounded">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="my-2 text-primary, darktext">Japoouta</h5>
                            <h4 class="text-success, harga" style="font-size: 18px;">IDR 10,000</h4>
                        </div>
                        <div class="col-sm text-right">
                            <img src="https://github.com/Andri-F/perkembangan/blob/master/japoota.jpg?raw=true" width="84" height="84">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</div>
<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="probaju">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Baju Polos Putih</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 80,999</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/baju.jpg?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        
        <div class="gambar" style=" width: 360px;">
            <a href="#" class="list-unstyled" style="text-decoration: none;" id="proketi">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Tiket <br>KETI SHOW</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 1,000,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/keti.png?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
    </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="promobil">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Mobil<br>Mobilan</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 35,500</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/toys.jpg?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
</div>

<div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proteh">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Teh Kotak</h5>
                    <h4 class="text-success, harga" style="text-decoration-line: line-through; font-size: 18px;">IDR 85,000</h4>
                    <h4 class="text-success, harga" style="font-size: 18px;">IDR 72,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/S/0/S000004645-4.jpg" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="items , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="proparfum">
    <div class="gambar" style=" width: 360px;">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext" style="font-size: 16px;">Eclat Mon Perfume</h5>
                    <h4 class="text-success, harga" style="text-decoration-line: line-through; font-size: 14px;">IDR 3,000,000</h4>
                    <h4 class="text-success, harga" style="font-size: 15px;">IDR 1,000,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://media-asia-cdn.oriflame.com/-/media/images/externalImage.ashx?externalMediaId=product-management-media%2F33957%2F33957.png%3Fversion%3D1594224160&q=70" width="84" height="84">
                </div>
                </div>
            </div>
        </div>
        </a>
    </li>

    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="probunga">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext" style="font-size: 15px;">Tiket Nonton Bunga terlarang</h5>
                        <h4 class="text-success, harga" style="font-size: 15px;">IDR 5,000,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://www.garudacitizen.com/wp-content/uploads/2015/05/Bunga-Rafflesia-Bengkulu.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
</div>
    <div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="proroyco">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext" style="font-size: 16px;">Royco Rasa Jamur BEST SELLER</h5>
                        <h4 class="text-success, harga" style="font-size: 15px;">IDR 6,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2020/5/4/626344/626344_6e631631-9a83-486f-83f4-ca9d7d7b41d2_1024_1024.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="prochitato">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Chitato</h5>
                        <h4 class="text-success, harga">IDR 16,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://cocoonline.co.id/wp-content/uploads/2019/09/products-_19jun17d_A10040001791_0.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="projolly">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Jolly Time</h5>
                        <h4 class="text-success, harga">IDR 50,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://objects.blains.com/products/12/600/1253898.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    </div>

    <div class="row mb-4">
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="procookies">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Good Time Cookies</h5>
                        <h4 class="text-success, harga">IDR 10,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2019/2/22/32659899/32659899_2071095c-8166-4346-bbb4-5c0f718d8fcf_473_386.png" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="pronescafe">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Nescafe Original</h5>
                        <h4 class="text-success, harga">IDR 20,999</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/k/z/kzS000000755-8.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    <li class="items , list-unstyled">
        <a href="#" class="list-unstyled" style="text-decoration: none;" id="protas">
        <div class="gambar" style=" width: 360px;">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Tas Tenteng Bulat</h5>
                        <h4 class="text-success, harga">IDR 555,555</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://i.pinimg.com/originals/3b/6f/6d/3b6f6d69ef70c7f14e3cf2474f28855f.jpg" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
        </a>
    </li>
    </div>