<div class="mxbaju"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/baju.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> baju polos berwarna putih </p>
            <p style="font-size: min(2vw, 30px);"> ready all size (xs,s,m,l,xl,xxl) </p>
            <a href="../users/baju" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mxairpods"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/airpods.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> earphone wireless merk apple </p>
            <p style="font-size: min(2vw, 30px);"> hanya tersedia 1 warna, yaitu putih </p>
            <a href="../users/airpods" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mbeat"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/beat.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> motor honda beat </p>
            <p style="font-size: min(2vw, 30px);"> ready warna silver </p>
            <a href="../users/beat" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mberas"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/beras.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> beras pulen </p>
            <a href="../users/beras" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mjeans"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/jeans.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> jeansrobek-robek  </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hitam </p>
            <a href="../users/jeans" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mjual"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/jual.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> jual like dan followers instagram </p>
            <a href="../users/ig" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mketi"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/keti.png" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> tiket menonton pertunjukan sang kucing imut berwarna orens yang dikenal sebagai marleykatz </p>
            <a href="../users/tiketkucing" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mkotak"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/kotak.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> tupperware beraneka warna </p>
            <p style="font-size: min(2vw, 30px);"> ready warna biru, ungu, orens dan kuning </p>
            <a href="../users/kotak" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mkue" > 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/kue.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> kue tart rasa vanilla </p>
            <a href="../users/kue" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mmaichi"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/maichi.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> kripik super pedas merk maichi </p>
            <p style="font-size: min(2vw, 30px);"> ready level 20 dan 25 </p>
            <a href="../users/maechee" class="submit">Detail</a>
        </form>
    </div>
</div>    

<div class="mmomogi" > 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/momogi.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> snack beraneka rasa </p>
            <p style="font-size: min(2vw, 30px);"> ready rasa cokelat, jagung bakar dan keju </p>
            <a href="../users/momogi" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mmasker" > 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/masker.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> masker scuba </p>
            <p style="font-size: min(2vw, 30px);"> ready hanya warna navy </p>
            <a href="../users/masker" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mpensil"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/pensil.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> pensil cetek </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hijau, pink dan biru </p>
            <a href="../users/pensil" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="msamsung"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/samsung.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> samsung galaxy A51 series </p>
            <p style="font-size: min(2vw, 30px);"> ready warna pink </p>
            <a href="../users/samsung" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="msariroti" > 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/sariroti.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> sandwich sariroti </p>
            <p style="font-size: min(2vw, 30px);"> ready rasa cokelat </p>
            <a href="../users/roti" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mspidol" > 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/spidol.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> spidol snowman </p>
            <p style="font-size: min(2vw, 30px);"> ready warna hitam </p>
            <a href="../users/spidol" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="msunsilk"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/sunsilk.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> shampoo sunsilk </p>
            <a href="../users/sunsilk" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mtoys"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="../public/img/toys.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> mainan mobil-mobilan </p>
            <a href="../users/mobil" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mteh"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/S/0/S000004645-4.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Teh kotak per dus </p>
            <a href="../users/teh" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mparfum"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://media-asia-cdn.oriflame.com/-/media/images/externalImage.ashx?externalMediaId=product-management-media%2F33957%2F33957.png%3Fversion%3D1594224160&q=70" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Parfum Eclat termurah </p>
            <a href="../users/parfum" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="mbunga"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://www.garudacitizen.com/wp-content/uploads/2015/05/Bunga-Rafflesia-Bengkulu.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Tiket untuk menonton Bunga Terlarang </p>
            <a href="../users/bunga" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mroyco"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2020/5/4/626344/626344_6e631631-9a83-486f-83f4-ca9d7d7b41d2_1024_1024.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Micin Royco rasa Jamur, Dijamin enak!!! </p>
            <a href="../users/royco" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="mjolly"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://objects.blains.com/products/12/600/1253898.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Popcorn Jollytime rasa MallowMagic </p>
            <a href="../users/jolly" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mcookies"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2019/2/22/32659899/32659899_2071095c-8166-4346-bbb4-5c0f718d8fcf_473_386.png" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Goodtime Cookies Best Seller!! </p>
            <a href="../users/cookies" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mnescafe"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://cdn.monotaro.id/media/catalog/product/cache/6/image/b5fa40980320eb406ba395dece54e4a8/k/z/kzS000000755-8.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Kopi Nescafe </p>
            <a href="../users/nescafe" class="submit">Detail</a>
        </form>
    </div>
</div>

 <div class="mtas"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://i.pinimg.com/originals/3b/6f/6d/3b6f6d69ef70c7f14e3cf2474f28855f.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Tas lucu berbentuk Kacang </p>
            <a href="../users/tas" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mpotabi"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://assets.klikindomaret.com/share/20080040/20080040_1.jpg" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Potabi </p>
            <a href="../users/potabi" class="submit">Detail</a>
        </form>
    </div>
</div>

<div class="mjapota"> 
    <div class="modal-content2">
        <a href="../users/member" class="close">x</a>
        <img src="https://github.com/Andri-F/perkembangan/blob/master/japoota.jpg?raw=true" style="width: 28%; height: auto; margin: 0% auto;">
        <form action="">
            <input class="isi" type="text" placeholder="...">
            <p style="font-size: min(2vw, 30px);"> Japota </p>
            <a href="../users/japota" class="submit">Detail</a>
        </form>
    </div>
</div>
