<li class="items , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="popbaju">
        <div class="gambar">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Baju Polos Putih</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 80,999</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/baju.jpg?raw=true" method="GET" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>


<li class="items , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="popketi">
        <div class="gambar">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Tiket KETI SHOW</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 1,000,000</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/keti.png?raw=true" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>

<li class="items , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="popmobil">
        <div class="gambar">
            <div class="col-sm mx-0 px-5 py-3 border rounded">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="my-2 text-primary, darktext">Mobil Mobilan</h5>
                        <h4 class="text-success, harga" style="font-size: 18px;">IDR 35,500</h4>
                    </div>
                    <div class="col-sm text-right">
                        <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/toys.jpg?raw=true" width="84" height="84">
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>