<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="baju2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Baju Polos Putih</h5>
                    <h4 class="text-success, harga">IDR 80,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/baju.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
</a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="keti2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Tiket KETI SHOW</h5>
                    <h4 class="text-success, harga">IDR 1,000,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/keti.png?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="mobil2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Mobil Mobilan</h5>
                    <h4 class="text-success, harga">IDR 35,500</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/toys.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="masker2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Masker Hitam</h5>
                    <h4 class="text-success, harga">IDR 3,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/masker.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="jeans2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Jeans sobek</h5>
                    <h4 class="text-success, harga">IDR 88,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/jeans.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="ig2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Like IG</h5>
                    <h4 class="text-success, harga">IDR 3,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/jual.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="kotak2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Kotak Bekal</h5>
                    <h4 class="text-success, harga">IDR 10,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/kotak.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="spidol2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Spidol Snowman</h5>
                    <h4 class="text-success, harga">IDR 8,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/spidol.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="beras2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Beras</h5>
                    <h4 class="text-success, harga">IDR 19,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/beras.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="airpods2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Airpods</h5>
                    <h4 class="text-success, harga">IDR 750,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/airpods.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="potabi2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Potabi</h5>
                    <h4 class="text-success, harga">IDR 8,500</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://assets.klikindomaret.com/share/20080040/20080040_1.jpg" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="japota2">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Japoouta</h5>
                    <h4 class="text-success, harga">IDR 10,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Andri-F/perkembangan/blob/master/japoota.jpg?raw=true" width="84" height="84">
                </div>
            </div>
        </div>
    </div> 
    </a>  
</li>