<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="beat">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Beat</h5>
                    <h4 class="text-success, harga">IDR 12,000,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/beat.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="kue">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Kue</h5>
                    <h4 class="text-success, harga">IDR 150,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/kue.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="momogi">
    <div class="gambar1">
        <div class="col-sm mx-0 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Momogi</h5>
                    <h4 class="text-success, harga">IDR 20,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/momogi.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>

<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="sunsilk">
    <div class="gambar1">
        <div class="col-sm mx-0.9 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Sunsilk</h5>
                    <h4 class="text-success, harga">IDR 25,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/sunsilk.jpg?raw=true" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>
<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="pensilmurah">
    <div class="gambar1">
        <div class="col-sm mx-0.9 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Pensil Murah</h5>
                    <h4 class="text-success, harga">IDR 1,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/pensil.jpg?raw=true" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>
<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="samsung">
    <div class="gambar1">
        <div class="col-sm mx-0.9 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Samsung</h5>
                    <h4 class="text-success, harga">IDR 2,500,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/samsung.jpg?raw=true" method="GET" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
</a>
</li>
<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="roti">
    <div class="gambar1">
        <div class="col-sm mx-0.9 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Sari Roti</h5>
                    <h4 class="text-success, harga">IDR 13,000</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/sariroti.jpg?raw=true" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>
<li class="noitems , list-unstyled">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="maechee">
    <div class="gambar1">
        <div class="col-sm mx-0.9 px-5 py-3 border rounded">
            <div class="row">
                <div class="col-sm">
                    <h5 class="my-2 text-primary, darktext">Maechee</h5>
                    <h4 class="text-success, harga">IDR 6,999</h4>
                </div>
                <div class="col-sm text-right">
                    <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/maichi.jpg?raw=true" width="84" height="84">
                </div>
            </div>
        </div>
    </div>
    </a>
</li>