<div class="mySlides fade">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="bajuslide">
        <div class="col-sm mx-6 px-6 py-5">
            <div class="row">
                <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/baju.jpg?raw=true" method="GET" width="22%" height="40%" style="margin-left: 10%; margin-right: 0%;">
                <div class="col-sm" style="text-align: center; margin: 0%; padding: 0%; width: 50%; float: right;">
                    <h2 class="my-2 text-primary" style="font-size: 3vw; margin: 0%; padding: 0%; font-size: min(3vw, 45px);">Baju Polos Putih</h2>
                    <p class="text-success" style="font-size: 2vw; margin: 0%; padding: 0%; font-size: min(2vw, 20px);">Baju Polos Putih <br>Size: XS, S, M, L, XL
                        <br>100% Cotton Combed <br> - Bahan adem <br> - Menyerap keringat <br> - Serat halus</p>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="mySlides fade">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="samsungslide">
        <div class="col-sm mx-6 px-6 py-5">
            <div class="row">
                <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/samsung.jpg?raw=true" method="GET" width="22%" height="40%" style="margin-left: 10%; margin-right: 0%;">
                <div class="col-sm" style="text-align: center; margin: 0%; padding: 0%; width: 50%; float: right;">
                    <h2 class="my-2 text-primary" style="font-size: 3vw; margin: 0%; padding: 0%; font-size: min(3vw, 45px);">Samsung</h2>
                    <p class="text-success" style="font-size: 2vw; margin: 0%; padding: 0%; font-size: min(2vw, 20px);">Samsung A51 <br>Specifications:
                        <br> - Kamera utama wide 48 MP<br> - Kamera ultrawide 12 MP <br> - Kamera makro 5 MP <br> - Kamera depth sensor 5 MP <br> - RAM 6 GB dan memori internal 128 GB</p>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="mySlides fade">
    <a href="#" class="list-unstyled" style="text-decoration: none;" id="airpodsslide">
        <div class="col-sm mx-6 px-6 py-5">
            <div class="row">
                <img src="https://github.com/Kelompok3-WebProgramming/E-Commerce/blob/master/img/airpods.jpg?raw=true" method="GET" width="22%" height="40%" style="margin-left: 10%; margin-right: 0%;">
                <div class="col-sm" style="text-align: center; margin: 0%; padding: 0%; width: 50%; float: right;">
                    <h2 class="my-2 text-primary" style="font-size: 3vw; margin: 0%; padding: 0%; font-size: min(3vw, 45px);">Airpods</h2>
                    <p class="text-success" style="font-size: 2vw; margin: 0%; padding: 0%; font-size: min(2vw, 20px);">Original Apple Airpods <br>Specifications:
                        <br> - Bluetooth/Wireless<br> - Waterproof <br> - Built in Microphone <br> - 24 Hours Battery Supply</p>
                </div>
            </div>
        </div>
    </a>
</div>